/* TOP BACKGROUND PROPERTIES */
.top-bg {
  width: 100%;
  height: 45vh;
  background-image: url("banner-img.jpg");
  background-size: cover;
  filter: grayscale(90%);
  opacity: 0.1;
  position: absolute;
  z-index: -1;
}
.top-bg-color {
  width: 100%;
  height: 45vh;
  background-color: #007cef;
  opacity: 0.9;
  position: absolute;
  z-index: -1;
}
