@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;800&display=swap");

* {
  font-family: "Dosis";
  font-weight: 600;
}

.loading {
  padding: 2px 60px;
  font-family: "Dosis";
  font-weight: 600;
  font-size: 36px;
  color: white;
}

.anime-list-data {
  padding: 10px 55px;
  width: 100%;
}

.anime-list-data h1 {
  padding-bottom: 30px;
  font-family: "Dosis";
  font-weight: 600;
  font-size: 36px;
  color: white;
}

.anime-list-data-grid {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 30px;
  row-gap: 30px;
}

.anime-list-data-items {
  display: flex;
}

.full-anime-character {
  margin-left: 100px;
  height: 750px;
  width: 400px;
  background-image: url("../assets/gojo_full_img.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: sticky;
  top: 140px;
}
