@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;800&display=swap");

* {
  font-family: "Dosis";
  font-weight: 600;
}

.anime-list-data {
  padding: 10px 55px;
}
.anime-list-data h1 {
  font-family: "Dosis";
  font-weight: 600;
  font-size: 36px;
  color: white;
}
