/* NAVBAR CSS PROPERTIES */
.navbar-header {
  padding-top: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-header h1 {
  font-family: "Dosis";
  font-weight: 800;
  font-size: 60px;
  padding-left: 24px;
}
