@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;800&display=swap");

.alc-title {
  font-weight: 800;
  font-size: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.alc-description {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.2em;
  margin-bottom: 8px;
}

.alc-details p {
  font-size: 14px;
  font-weight: 400;
}
